
@media (max-width: 768px) {
  /* NavbarMobile.css */
    .email-input{
        width: 120px;
    }
    .subscribe-input{
      width: 40%;
    }
    .subscribe-button{
      padding: 10px !important;
    }
}