.footer {
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 18px 0;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  z-index: 100;
  font-size: 1rem;
  letter-spacing: 1px;
}