:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  {features.map((f, i) => (
        <Grid item xs={4} sm={4} md={4} key={i} display="flex">
          <div></div>
            <Box sx={{ mb: 2 }}>{f.icon}</Box>
            <CardContent sx={{ textAlign: "center", flexGrow: 1 }}>
              <Typography variant="h6" sx={{ fontWeight: 600, mb: 1 }}>
                {f.title}
              </Typography>
              <Typography variant="body2" color="text.secondary">
                {f.desc}
              </Typography>
            </CardContent>
          </Card>
}
